<div class="form-group">
  <label for="q_{{question.id}}">{{question.text}}</label>
  <div class="row">
    <div class="col-sm-12">
      <div class="rating">
        <input id="q_{{question.id}}_5" type="radio" name="q_{{question.id}}" 
          value="5"><label for="q_{{question.id}}_5">5 Stars</label>
        <input id="q_{{question.id}}_4" type="radio" name="q_{{question.id}}" 
          value="4"><label for="q_{{question.id}}_4">5 Stars</label>
        <input id="q_{{question.id}}_3" type="radio" name="q_{{question.id}}" 
          value="3"><label for="q_{{question.id}}_3">5 Stars</label>
        <input id="q_{{question.id}}_2" type="radio" name="q_{{question.id}}" 
          value="2"><label for="q_{{question.id}}_2">5 Stars</label>
        <input id="q_{{question.id}}_1" type="radio" name="q_{{question.id}}" 
          value="1"><label for="q_{{question.id}}_1">5 Stars</label>
      </div>
    </div>
  </div>
</div>
